@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;

}
@font-face {
  font-family: 'Materia';
  src: url('../cantarell/Cantarell-Regular.otf') format('opentype');
}

:root {
  --cor0:#2596be;
  --cor1: #51abcb;
  --cor2: #92cbdf;
  --cor3: #bee0ec;
  --cor4: #d3eaf2;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Materia', cursive;
}

body {
    background-color: var(--cor2);
    
}

header {
  min-height: 100px;
  text-align: center;
}
header div {
  height: 50px;
  background-color: black;
}

header h2{
  font-family: var(--fonte-padrao);
  color: white;
}
header div.logo {
  background-color: var(--cor4);
  height: 130px;
}
header div.logo img {
  width: 200px;
}
nav {
  background-color: white;
  padding: 10px;
  border-top: 1.5px rgba(0, 0, 0, 0.336) solid;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.233);
}
nav > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
nav > a:hover {
  background-color: var(--cor0);
  color: white;
}
nav > button.botao {
  display: none;
}
main {
  background-color: white;
  min-width: 300px;
  max-width: 1000px;
  border-radius: 15px;
  box-shadow: 5px 5px  rgba(0, 0, 0, 0.137) ;
  height: auto;
  margin:50px;
  
  
}
.sidenav{
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 150px;
  min-width: 50px;
  max-width: 150px;
  background-color: var(--cor0);
  border-radius: 15px 0;
  position: absolute;
  display: inline-block;
  height: auto;
  
  
  
}
.sidenav > h2 {
  text-align: center;
  padding: 8px;
}
.sidenav ul li {
  list-style: none;
  padding: 5px;
}
.sidenav ul li a{
    text-decoration: none;
    color: white;
    
    
}
.sidenav ul li a:hover {
  text-decoration: underline;
  

}
section {
  position: relative;
  display: inline-block;
  min-width: 300px;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.137);
  left: 160px;
  padding: 20px;
  width: 80%;
  
  background-color: rgba(210, 105, 30, 0.411);
}
section > h1 {
  width: 400px;
}
article {
  width: auto;

  padding: 20px;
}

article > img.foto-manchete {
  width: 350px;
  height: 300px;
}
article > img.fotorreportagem {
  width: 250px;
  height: 200px;
  
  position: relative;
  display: inline;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.267);
  margin-bottom: 10px;
}
article > a {
  position: relative;
  display: inline-block;
  color: black;
  padding: 5px;
  text-decoration: none;
}
article > a:hover {
  opacity: 0.5;
  color: black;
}
footer {
  text-align: center;
  height: auto;
  width: auto;
}
footer > p {
  font-weight: bolder;
}